CompileFlags:
  Add: [-std=c++17]

If:
  - PathMatch: ".*\\.cu$"
    CompileFlags:
      Add: [-x, cuda, --cuda-host-only, -std=c++17]
  - PathMatch: ".*\\.hip$"
    CompileFlags:
      Add: [-x, c++, -D__HIPCC__, -std=c++17]
